---
---

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700');

$background: #f7f9ff;
$black: #0c0c0c;
$red: #ff3500;
$typography: Roboto;

body {
    font-family: $typography, Arial, Helvetica, sans-serif;
    color: $black;
    line-height: 1.5;

    background-color: $background;
    max-width: 780px;
    margin: 80px auto;
}

h1 {
    font-size: 80px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav a {
        margin-left: 10px;
    }
}

section {
    margin: 40px 0 0 0;
}

nav a.selected, p a {
    color: black;
    text-decoration: none;
    border-bottom: 3px solid rgba($red, .6);
}

nav a {
    color: $black;
    text-decoration: none;
}

img {
    max-width: 780px;
}

p.read-more {
    font-weight: 700;
}

div.blog-posts {
    max-width: 540px;

    a {
        text-decoration: none;
        color: $black;
        display: block;
        margin: 0 0 40px 0;
    }
}

div.circle {
    position: fixed;
    z-index: -1;
    bottom: -250px;
    right: -250px;
    width: 500px;
    height: 500px;

    background-color: $red;
    border-radius: 50%;
    opacity: .6;
}

div.post {
    h3 {
        margin-top: 80px;
    }

    p {
        max-width: 540px;
        margin-bottom: 40px;
    }

    img {
        max-width: 780px;
    }
}

@media (max-width: 600px) {
    body {
        margin: 10px;
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
    }
    
    h2 {
        font-size: 24px;
        font-weight: 700;
    }
    
    h3 {
        font-size: 20px;
        font-weight: 700;
    }

    img {
        max-width: 100%;
    }
}